body {
    background: rgb(253,214,200);
    color: palevioletred;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
}

img {
    margin-top: 1em;
    width: 150px;
    height: 150px;
}

h1 {
    text-align: center;
    color: #347FC4;
    font-family: 'Londrina Solid', cursive;
    font-size: 4em;
}

.container {
    margin-top: 3em;
}

#add-burg {
    padding-bottom: 0.1em;
    padding-top: 0.5em;
    color: white;
}
